In [348]:
import pandas as pd
import numpy as np

# Goal
  -  Goal of this project is to analyze the number of apps that has not been updated.

# Import Dataset

In [315]:
google_apps = pd.read_csv('googleplaystore.csv')

# Create a new Dataframe for App and Date
   - In this part, we created a new dataframe which contains only the column 'App' & 'Last Updated' for us to get a better look of our dataset

In [317]:
apps_df = pd.DataFrame()
apps_df['App'] = google_apps['App']
apps_df['Last Updated'] = google_apps['Last Updated']
apps_df = apps_df.set_index('App')
apps_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10841 entries, Photo Editor & Candy Camera & Grid & ScrapBook to iHoroscope - 2018 Daily Horoscope & Astrology
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Last Updated  10841 non-null  object
dtypes: object(1)
memory usage: 169.4+ KB

# Converting date format
   - In this part, we will convert our "Last Updated" column in to a much workable dateformat
   - Note, that there is a row which has an incorrect data which has a value of 1.0.19, therefore we will remove that row

In [318]:
apps_df.loc[apps_df['Last Updated'] == '1.0.19']

                                        Last Updated
App
Life Made WI-Fi Touchscreen Photo Frame       1.0.19

In [319]:
apps_df = apps_df.drop(['Life Made WI-Fi Touchscreen Photo Frame'])
apps_df.reset_index()

                                                     App      Last Updated
0         Photo Editor & Candy Camera & Grid & ScrapBook   January 7, 2018
1                                    Coloring book moana  January 15, 2018
2      U Launcher Lite – FREE Live Cool Themes, Hide ...    August 1, 2018
3                                  Sketch - Draw & Paint      June 8, 2018
4                  Pixel Draw - Number Art Coloring Book     June 20, 2018
...                                                  ...               ...
10835                                   Sya9a Maroc - FR     July 25, 2017
10836                   Fr. Mike Schmitz Audio Teachings      July 6, 2018
10837                             Parkinson Exercices FR  January 20, 2017
10838                      The SCP Foundation DB fr nn5n  January 19, 2015
10839      iHoroscope - 2018 Daily Horoscope & Astrology     July 25, 2018

[10840 rows x 2 columns]

In [320]:
# Convert to dateformat
apps_df['Last Updated'] = pd.to_datetime(apps_df['Last Updated'])
apps_df.sort_values(by=['Last Updated'], inplace=True)
apps_df = apps_df.reset_index()

# Separate Updated Apps to Outdated Apps
  - In this part, we will separate Apps that has been updated since 2017

In [326]:
start_date = '2017-01-01'
updated = (apps_df['Last Updated'] >= start_date) 
outdated = (apps_df['Last Updated'] <= start_date)


# Create Dataframes for Separated Apps
updated_apps = pd.DataFrame(data=apps_df.loc[updated])
outdated_apps = pd.DataFrame(data=apps_df.loc[outdated])

# Display Outdate and Updated App

In [331]:
# Updated Apps
updated_apps.head()

                                 App Last Updated
1624                    Cold Spirits   2017-01-02
1625                BD All Sim Offer   2017-01-03
1626                 100+ C Programs   2017-01-03
1627         Remote Link (PC Remote)   2017-01-03
1628  FJ 4x4 Cruiser Offroad Driving   2017-01-04

In [328]:
# Outdated Apps
outdated_apps.head()

                         App Last Updated
0  FML F*ck my life + widget   2010-05-21
1   CJ Poker Odds Calculator   2011-01-30
2   FD Shift Calendar Widget   2011-03-16
3      DEER HUNTER CHALLENGE   2011-04-11
4                Freecell CY   2011-04-16

In [346]:
print("Outdated app: ", outdated_apps.iloc[0]['App'])

Outdated app:  FML F*ck my life + widget

In [347]:
print('Updated App: ',  updated_apps.iloc[-1]['App'])

Updated App:  Shoot Hunter-Gun Killer